---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import UsersTable from "../components/ClientsTable";
import PageSelector from "../components/PageSelector";
import RegisterNewClientDialog from "@/components/RegisterNewClientDialog";

const title = "Clientes";
---

<Layout title={title}>
  <NavBar title={title} />
  <main class="p-5">
    <div class="flex flex-col gap-3">
      <div class="flex flex-row justify-end">
        <PageSelector client:load />
      </div>
      <div class="flex justify-end">
        <RegisterNewClientDialog client:load />
      </div>
      <UsersTable client:load />
    </div>
  </main>
</Layout>
