---
interface Props {
  title?: string | undefined;
}

const { title } = Astro.props;
const defaultTitle = "Astro";
---

<nav class="flex flex-row justify-between items-center w-full p-3 py-5 bg-slate-200 text-black">
  <h1 class="text-2xl font-bold">{title ?? defaultTitle}</h1>
</nav>
